@import "../variables.scss";

.column {
  color: $white;
  border-left: 1px solid $green;
}

section {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-bottom: 2rem;
  color: $white;
  padding-bottom: 1.5rem;
}

//tablet
@media screen and (min-width: 576px) {
}

//desktop
@media screen and (min-width: 768px) {
}

//large desktop
@media screen and (min-width: 992px) {
  .margin {
    padding: 0 8rem 0 8rem;
  }
}
