@import "../variables.scss";

.projectSection {
  width: 100%;
  color: $white;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.codeLink {
  color: $blue;
}

.image {
  object-fit: contain;
  height: 15rem;
  width: 21rem;
  border-radius: 1rem;
}

//tablet
@media screen and (min-width: 576px) {
}

//desktop
@media screen and (min-width: 768px) {
}

//large desktop
@media screen and (min-width: 992px) {
  .image {
    object-fit: cover;
    height: 25rem;
    width: 35rem;
    border-radius: 1rem;
  }
}
